<%- include("partials/header.ejs") %>
<div class="main container">
  <h3 class="joke-display-header">Your joke is </h3>
  <% if(joke.type==="twopart"){ %>
  <p class="setup"><%=joke.setup  %></p>
  <div class="glow-wrapper">
    <div class="glow-box">
      <div class="text-container">
        <span class="text current-text">Hover Here</span>
        <span class="text next-text"><%=joke.delivery %></span>
      </div>
    </div>
  </div>
  <% }else{ %>
  <div class="single-joke-display">
    <p class="onepart setup"><%-joke.joke.replace(/\n/g,"<br>") %></p>
  </div>
  <% } %>
  <div class="regenerate">
    <a class="btn btn-outline-light" href="/" style="font-size: 1.1rem;">Home</a>
    <a class="btn btn-outline-light" href="javascript:location.reload()" >Regenerate</a>
  </div>
</div>
<%- include("partials/footer.ejs")  %>